{% extends 'admin/content.twig' %}

{% block title %}{{ 'Weiterleitungen'|trans }}{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-hover border datatable" data-order='[[ 4, "asc" ], [ 1, "asc" ]]'>
            <thead class="thead-light">
            <tr>
                <th style="width: 40px;"></th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Pfad'|trans }}</th>
                <th>{{ 'Ziel'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for key, val in redirects %}
                <tr style="cursor: pointer;" onclick="window.location.href='{{ admin_url }}/redirect/{{ val.getRedirectId() }}';">
                    <td class="text-center">
                        {% if val.isEnabled() %}
                            <i class="fa fa-location-arrow"></i>
                        {% else %}
                            <i class="fa fa-eye-slash"></i>
                        {% endif %}
                    </td>
                    <td>{{ val.getName() }}</td>
                    <td>{{ base_url() ~ '/' ~ val.getRoute() }}</td>
                    <td>
                        {% set loc = val.getLocation() %}
                        {% if loc starts with 'http://' or loc starts with 'https://' %}
                            {{ loc }}
                        {% else %}
                            {{ base_url() }}/{{ loc }}
                        {% endif %}
                    </td>
                    <td>
                        {% if val.isEnabled() %}
                            <i class="fa fa-check fa-fw text-success"></i> {{ 'Aktiv'|trans }}
                        {% else %}
                            <i class="fa fa-times fa-fw text-danger"></i> {{ 'Inaktiv'|trans }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-right mt-2">
        <a href="{{ admin_url }}/redirect/add" class="btn btn-primary">{{ 'Neue Weiterleitung'|trans }}</a>
    </div>
{% endblock %}