{% extends 'admin/content.twig' %}

{% block title %}Besucher{% endblock %}

{% block content %}
    <table class="table table-bordered table-responsive-xs datatable" data-order='[[ 0, "desc" ]]' id="sessions">
        <thead>
        <tr>
            <th>#</th>
            <th>Erster Besuch</th>
            <th>Letzter Besuch</th>
            <th>Besuche</th>
            <th>Echter Besucher</th>
        </tr>
        </thead>
        <tbody>
        {% for cl in stats %}
            <tr>
                <td>{{ cl.client_id }}</td>
                <td>{{ cl.created_at }}</td>
                <td>{{ cl.updated_at }}</td>
                <td><a href="{{ admin_url }}/stats/sessions/{{ cl.client_id }}">{{ cl.sessions }}</a></td>
                <td>
                    {% if cl.real %}
                        <i class="fa fa-check text-success"></i>
                    {% else %}
                        <i class="fa fa-times text-danger"></i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
