{% extends 'admin/content.twig' %}

{% block title %}{{ 'Besucher'|trans }}{% endblock %}

{% block content %}
    <table class="table table-bordered table-responsive-xs datatable" data-order='[[ 0, "desc" ]]' id="sessions">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'Erster Besuch'|trans }}</th>
            <th>{{ 'Letzter Besuch'|trans }}</th>
            <th>{{ 'Besuche'|trans }}</th>
            <th>{{ 'Echter Besucher'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for cl in stats %}
            <tr>
                <td>{{ cl.client_id }}</td>
                <td data-order="{{ cl.created_at }}">{{ cl.created_at|date('d.m.Y H:i:s') }}</td>
                <td data-order="{{ cl.updated_at }}">{{ cl.updated_at|date('d.m.Y H:i:s') }}</td>
                <td><a href="{{ admin_url }}/stats/sessions/{{ cl.client_id }}">{{ cl.sessions }}</a></td>
                <td>
                    {% if cl.real %}
                        <i class="fa fa-check text-success"></i>
                    {% else %}
                        <i class="fa fa-times text-danger"></i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
