{% extends 'admin/content.twig' %}

{% block title %}{{ 'Besucher'|trans }}{% endblock %}

{% block content %}
    <table class="table table-bordered table-responsive-xs" data-order='[[ 0, "desc" ]]' data-search="0" id="table-clients">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'Erster Besuch'|trans }}</th>
                    <th>{{ 'Letzter Besuch'|trans }}</th>
                    <th>{{ 'Besuche'|trans }}</th>
                    <th>{{ 'Echter Besucher'|trans }}</th>
                </tr>
            </thead>
    </table>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {% if opt %}
        {% set url = admin_url ~ '/api/stats/clients/' ~ opt %}
    {% else %}
        {% set url = admin_url ~ '/api/stats/clients' %}
    {% endif %}
    <script>
        $('#table-clients').DataTable( {
            ajax: '{{ url }}',
            columns: [
                { data: 'client_id', searchable: false },
                { data: 'created_at', searchable: false },
                { data: 'updated_at', searchable: false },
                { data: 'sessions', orderable: false, searchable: false },
                { data: 'real', orderable: false, searchable: false },
            ],
            serverSide: true,
        } );
    </script>
{% endblock %}
