{% extends 'admin/content.twig' %}

{% block title %}{{ 'Besucher'|trans }}{% endblock %}

{% block content %}
    <div class="mb-4">
        <table class="table border table-responsive-xs " data-order='[[ 0, "desc" ]]' data-searching="false" id="table-clients">
            <thead class="table-light">
            <tr>
                <th>#</th>
                <th>{{ 'Erster Besuch'|trans }}</th>
                <th>{{ 'Letzter Besuch'|trans }}</th>
                <th>{{ 'Besuche'|trans }}</th>
                <th>{{ 'Echter Besucher'|trans }}</th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    {% if opt %}
        {% set url = admin_url ~ '/api/stats/clients/' ~ opt %}
    {% else %}
        {% set url = admin_url ~ '/api/stats/clients' %}
    {% endif %}
    <script>
        $('#table-clients').DataTable({
            language: {
                url: BASE_URL + '/js/dataTables/' + TRANS_LOCALE + '.json'
            },
            ajax: '{{ url }}',
            columns: [
                { data: 'client_id' },
                { data: 'created_at' },
                { data: 'updated_at' },
                { data: 'sessions', orderable: false },
                { data: 'real', orderable: false }
            ],
            serverSide: true,
        });
    </script>
{% endblock %}
