{% extends 'admin/content.twig' %}

{% block title %}Seitenbesuche{% endblock %}

{% block content %}
    <table class="table table-bordered table-responsive datatable" data-order='[[ 0, "desc" ]]' id="sessions">
        <thead>
        <tr>
            <th>#</th>
            <th>Zeitpunkt von</th>
            <th>Zeitpunkt bis</th>
            <th>Besucher</th>
            <th>IP</th>
            <th data-sortable="false">Land</th>
            <th>Betriebssystem</th>
            <th>Browser</th>
            <th>User Agent</th>
            <th>Dauer (hh:mm:ss)</th>
            <th>Seitenaufrufe</th>
        </tr>
        </thead>
        <tbody>
        {% for ses in stats %}
            <tr>
                <td>{{ ses.session_id }}</td>
                <td data-order="{{ ses.created_at }}">{{ ses.created_at|date('d.m.Y H:i:s') }}</td>
                <td data-order="{{ ses.updated_at }}">{{ ses.updated_at|date('d.m.Y H:i:s') }}</td>
                <td><a href="{{ admin_url }}/stats/sessions/{{ ses.client_id }}">#{{ ses.client_id }}</a></td>
                <td class="ip">{{ ses.ip }}</td>
                <td class="country">-</td>
                <td>{{ ses.platform ?: 'Unbekannt' }}</td>
                <td>{{ ses.browser ?: 'Unbekannt' }}</td>
                <td>{{ ses.user_agent }}</td>
                <td>{{ ses.duration }}</td>
                <td><a href="{{ admin_url }}/stats/visits/{{ ses.session_id }}">{{ ses.visits }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        var ips = [];
        setInterval(function () {
            $('#sessions tbody tr').each(function () {
                var ip = $(this).find('td.ip').text();
                var $country = $(this).find('td.country');
                if (ips[ip]) {
                    if ($country.text() !== ips[ip].country) {
                        $country.text(ips[ip].country);
                    }
                } else {
                    ips[ip] = {country: '-'};
                    $.get('https://ipinfo.io/' + ip + '/geo', function (data) {
                        if (data.country) {
                            ips[ip].country = data.country;
                        }
                    });
                }
            });
        }, 1000);
    </script>
{% endblock %}
