{% extends 'admin/content.twig' %}

{% block title %}{{ 'Seitenbesuche'|trans }}{% endblock %}

{% block content %}
    <table class="table table-bordered table-responsive" data-order='[[ 0, "desc" ]]' id="sessions">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'Zeitpunkt von'|trans }}</th>
            <th>{{ 'Zeitpunkt bis'|trans }}</th>
            <th>{{ 'Besucher'|trans }}</th>
            <th>{{ 'IP'|trans }}</th>
            <th>{{ 'Betriebssystem'|trans }}</th>
            <th>{{ 'Browser'|trans }}</th>
            <th>{{ 'User Agent'|trans }}</th>
            <th>{{ 'Dauer (hh:mm:ss)'|trans }}</th>
            <th>{{ 'Seitenaufrufe'|trans }}</th>
        </tr>
        </thead>
    </table>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        {% if id %}
            {% set url = admin_url ~ '/api/stats/sessions/' ~ id %}
        {% else %}
            {% set url = admin_url ~ '/api/stats/sessions' %}
        {% endif %}
        $('#sessions').DataTable( {
            ajax: '{{ url }}',
            columns: [
                { data: 'session_id' },
                { data: 'created_at' },
                { data: 'updated_at' },
                { data: 'client_id' },
                { data: 'ip' },
                { data: 'platform' },
                { data: 'browser' },
                { data: 'user_agent' },
                { data: 'duration', orderable: false },
                { data: 'visits', orderable: false },
            ],
            serverSide: true,
        } );
    </script>
{% endblock %}
