{% extends 'admin/content.twig' %}

{% block title %}Seitenaufrufe{% endblock %}

{% block content %}
    <div class="mb-4">
        <table class="table border table-responsive-xs" data-order='[[ 0, "desc" ]]' id="visits">
            <thead>
            <tr>
                <th>#</th>
                <th>{{ 'Zeitpunkt'|trans }}</th>
                <th>{{ 'Seite'|trans }}</th>
                <th>{{ 'Sprache'|trans }}</th>
                <th>{{ 'Parameter'|trans }}</th>
                <th>{{ 'Weiterleitung'|trans }}</th>
                <th>{{ 'Besucher'|trans }}</th>
                <th>{{ 'Besuch'|trans }}</th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        {% if id %}
            {% set url = admin_url ~ '/api/stats/visits/' ~ id %}
        {% else %}
            {% set url = admin_url ~ '/api/stats/visits' %}
        {% endif %}
        $('#visits').DataTable( {
            language: {
                url: BASE_URL + '/js/dataTables/' + TRANS_LOCALE + '.json'
            },
            ajax: '{{ url }}',
            columns: [
                { data: 'visit_id' },
                { data: 'created_at' },
                { data: 'page_id' },
                { data: 'language_id' },
                { data: 'arguments' },
                { data: 'redirect_id' },
                { data: 'client_id', orderable: false },
                { data: 'session_id' }
            ],
            serverSide: true,
        } );
    </script>
{% endblock %}
