{% extends 'admin/content.twig' %}

{% block title %}Seitenaufrufe{% endblock %}

{% block content %}
    <table class="table table-bordered table-responsive-xs datatable" data-order='[[ 0, "desc" ]]'>
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'Zeitpunkt'|trans }}</th>
            <th>{{ 'Seite'|trans }}</th>
            <th>{{ 'Sprache'|trans }}</th>
            <th>{{ 'Parameter'|trans }}</th>
            <th>{{ 'Weiterleitung'|trans }}</th>
            <th>{{ 'Besucher'|trans }}</th>
            <th>{{ 'Besuch'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for vis in visits %}
            <tr>
                <td>{{ vis.getVisitId() }}</td>
                <td data-order="{{ vis.getCreatedAt() }}">{{ vis.getCreatedAt()|date('d.m.Y H:i:s') }}</td>
                <td>
                    {% if vis.getPageTranslation().getPageTranslationId() > 0 %}
                        <a href="{{ admin_url }}/page/{{ vis.getPageTranslation().getPage().getPageId() }}">{{ vis.getPageTranslation().getPage().getName() }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    {% if vis.getPageTranslation().getPageTranslationId() > 0 %}
                        {{ vis.getPageTranslation().getLanguage().getDescription() }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>{{ vis.getArguments() }}</td>
                <td>
                    {% if vis.getRedirect().getRedirectId() > 0 %}
                        <a href="{{ admin_url }}/redirect/{{ vis.getRedirect().getRedirectId() }}">{{ vis.getRedirect().getName() }}</a>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td><a href="{{ admin_url }}/stats/sessions/{{ vis.getSession().getClient().getClientId() }}">#{{ vis.getSession().getClient().getClientId() }}</a></td>
                <td><a href="{{ admin_url }}/stats/visits/{{ vis.getSession().getSessionId() }}">#{{ vis.getSession().getSessionId() }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
