{% import "admin/forms.twig" as forms %}

{% extends 'admin/content.twig' %}

{% block title %}{{ 'Backup'|trans }}{% endblock %}

{% block content %}
    {% include 'admin/misc/system/tabnav.twig' with { current: 'backup' } %}
    <div class="table-responsive mt-4">
        <table class="table datatable" data-order='[[ 2, "desc" ]]'>
            <thead class="thead-light">
            <tr>
                <th>{{ 'Dateiname'|trans }}</th>
                <th>{{ 'Version'|trans }}</th>
                <th>{{ 'Zeitpunkt'|trans }}</th>
                <th>{{ 'Grösse'|trans }}</th>
                <th class="text-right" data-sortable="false">{{ 'Download'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for backup in backups %}
                <tr>
                    <td>{{ backup.filename }}</td>
                    <td>{{ backup.version ?: 'Unbekannt' }}</td>
                    <td data-order="{{ backup.timestamp ? backup.timestamp|date('Y-m-d H:i:s') : '' }}">{{ backup.timestamp ? backup.timestamp|date('d.m.Y H:i:s') : 'Unbekannt' }}</td>
                    <td>{{ backup.size }}</td>
                    <td class="text-right"><a href="{{ admin_url }}/misc/system/backup/download/{{ backup.filename }}"><i class="fa fa-download"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <form method="post" class="text-right mt-2" id="backup">
        <button type="submit" name="backup" class="btn btn-primary">
            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
            {{ 'Backup erstellen'|trans }}
        </button>
    </form>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        $('#backup').submit(function() {
            $(this).find('.spinner-border').removeClass('d-none');
            $(this).find('button').prop('disabled', true);
        })
    </script>
{% endblock %}