{% import "admin/forms.twig" as forms %}

{% extends 'admin/content.twig' %}

{% block title %}{{ 'System'|trans }}{% endblock %}

{% block content %}
    {% include 'admin/misc/system/tabnav.twig' with { current: 'migration' } %}
    <div class="mt-4">
        {% if messages|length > 0 %}
            <div class="alert {% if error %}alert-danger{% else %}alert-success{% endif %} alert-dismissible" role="alert">
                {% if error %}
                    {% for key, message in messages %}
                        <strong>{{ key }}</strong><br>
                        {{ message.message }}<br><br>
                    {% endfor %}
                    {{ 'Es sind Fehler aufgetregen, bitte versuche es erneut.'|trans }}
                {% else %}
                    {{ 'Datenbank-Update erfolgreich'|trans }}
                {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {% set hasUpdate = false %}
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Beschreibung'|trans }}</th>
                    <th>{{ 'Status'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for key, val in migrations %}
                    <tr class="{% if val.done %}alert-success{% else %}alert-danger{% endif %}">
                        <td>{{ key }}</td>
                        <td>{{ val.description }}</td>
                        <td>
                            {% if val.done %}
                                <i class="fa fa-check fa-fw"></i> {{ val.done|date('d.m.Y H:i:s') }}
                            {% else %}
                                {% set hasUpdate = true %}
                                <i class="fa fa-times fa-fw"></i> {{ 'Ausstehend'|trans }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if hasUpdate %}
                <div class="text-right mb-4">
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#confirmUpdate">{{ 'Update durchführen'|trans }}</button>
                </div>
            {% endif %}
        </div>

        {% if hasUpdate %}
            {# confirm update modal #}
            <div class="modal fade" id="confirmUpdate" tabindex="-1" role="dialog" aria-labelledby="confirmUpdateLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmUpdateLabel">{{ 'Update durchführen'|trans }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ 'Möchtest du das Datenbank-Update durchführen?'|trans }}<br><br>
                            {{ 'Bitte beachte, dass du vor einem Update unbedingt ein Backup deiner aktuellen Datenbank erstellen solltest.'|trans }}<br>
                            {{ 'Auch wenn der Update-Prozess grundsätzlich fehlerfrei verlaufen sollte können allfällige Fehler nicht ausgeschlossen werden.'|trans }}
                        </div>
                        <form method="post" class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Abbrechen'|trans }}</button>
                            <button type="submit" name="update" class="btn btn-primary">{{ 'Ja, Update durchführen'|trans }}</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}