{% extends 'admin/misc/system/_system.twig' %}
{% set tab = 'update' %}

{% set types = {
    unavailable: {
        class: 'danger',
        message: 'Update-Informationen konnten nicht abgerufen werden, bitte später erneut probieren.'|trans,
        button: false
    },
    uptodate: {
        class: 'info',
        message: 'Du hast bereits die aktuellste Version installiert (%s).'|trans|format(update.current),
        button: 'Version erneut installieren'|trans
    },
    newupdate: {
        class: 'success',
        message: 'Es ist ein Update verfügbar: %s -> %s'|trans|format(update.current, update.latest),
        button: 'Update durchführen'|trans
    },
    updated: {
        class: 'success',
        message: 'Update erfolgreich durchgeführt!'|trans,
        button: false
    },
    failed: {
        class: 'danger',
        message: 'Beim Update ist ein Fehler aufgetreten. Bitte erneut versuchen oder manuell installieren.'|trans,
        button: false
    }
} %}

{% block tab %}
    {% if update.type %}
        <div class="alert alert-{{ types[update.type].class }} mx-0 row" role="alert">
            <div class="col-8 align-middle p-0 pt-1">
                {{ types[update.type].message }}
            </div>
        </div>
    {% endif %}
    {% if update.release_notes %}
        <h2 class="h4">{{ 'Neuerungen in %s'|trans|format(update.latest) }}</h2>
        {{ update.release_notes|nl2br }}
    {% endif %}
    {% if types[update.type].button %}
        <form method="post" id="update">
            <div class="text-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmUpdate">
                    <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    {{ types[update.type].button }}
                </button>
            </div>

            {# confirm update modal #}
            <div class="modal fade" id="confirmUpdate" tabindex="-1" role="dialog" aria-labelledby="confirmUpdateLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmUpdateLabel">{{ types[update.type].button }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{ 'Bitte erstelle zuerst ein Backup, bevor die Installation durchgeführt wird.'|trans }}<br>
                            {{ 'Möchtest du den Prozess wirklich starten?'|trans }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Abbrechen'|trans }}</button>
                            <button type="submit" name="update" class="btn btn-primary">{{ types[update.type].button }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        $('#update').submit(function () {
            let $el = $(this)
            setTimeout(function() {
                $('#confirmUpdate').modal('hide');
                $el.find('.spinner-border').removeClass('d-none');
                $el.find('button').prop('disabled', true);
            });
        });
    </script>
{% endblock %}