{% extends 'admin/misc/system/_system.twig' %}
{% set tab = 'update' %}

{% set types = {
    unavailable: {
        class: 'danger',
        message: 'Update-Informationen konnten nicht abgerufen werden, bitte später erneut probieren.'|trans,
        buttons: false
    },
    uptodate: {
        class: 'info',
        message: 'Du hast bereits die aktuellste Version installiert (%s).'|trans|format(update.current),
        buttons: [
            'Entwicklungsversion installieren'|trans,
            'Version erneut installieren'|trans
        ]
    },
    newupdate: {
        class: 'success',
        message: 'Es ist ein Update verfügbar: %s -> %s'|trans|format(update.current, update.latest),
        buttons: [
            'Entwicklungsversion installieren'|trans,
            'Update durchführen'|trans
        ]
    },
    updated: {
        class: 'success',
        message: 'Update erfolgreich durchgeführt!'|trans,
        buttons: false
    },
    failed: {
        class: 'danger',
        message: 'Beim Update ist ein Fehler aufgetreten. Bitte erneut versuchen oder manuell installieren.'|trans,
        buttons: false
    },
    usingdev: {
        class: 'warning',
        message: 'Du hast aktuell eine Entwicklungsversion installiert (dev-latest).'|trans,
        buttons: [
            'Entwicklungsversion aktualisieren'|trans,
            'Version erneut installieren'|trans
        ]
    }
} %}

{% block tab %}
    {% if update.type %}
        <div class="alert alert-{{ types[update.type].class }} mx-0 row" role="alert">
            <div class="col-8 align-middle p-0 pt-1">
                {{ types[update.type].message }}
            </div>
        </div>
    {% endif %}
    {% if update.release_notes %}
        <div class="mb-3">
            <h2 class="h4">{{ 'Neuerungen in %s'|trans|format(update.latest) }}</h2>
            {{ update.release_notes|nl2br }}
        </div>
    {% endif %}
    {% if update.dev_release_notes %}
        <div class="mb-3">
            <h2 class="h4">{{ 'Neuerungen in %s'|trans|format(update.dev_latest) }}</h2>
            {{ update.dev_release_notes|nl2br }}
        </div>
    {% endif %}
    {% if types[update.type].buttons %}
        <form method="post" id="update">
            <div class="text-end">
                <button class="btn btn-secondary update-status d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    <span role="status">{{ 'Update läuft...'|trans }}</span>
                </button>
                {% if update.dev_url %}
                    <button type="button" class="btn btn-warning update-trigger" data-bs-toggle="modal" data-bs-target="#confirmDevUpdate">
                        {{ types[update.type].buttons[0] }}
                    </button>
                {% endif %}
                {% if update.url %}
                    <button type="button" class="btn btn-primary update-trigger" data-bs-toggle="modal" data-bs-target="#confirmUpdate">
                        {{ types[update.type].buttons[1] }}
                    </button>
                {% endif %}
            </div>

            {# confirm update modal #}
            <div class="modal fade" id="confirmUpdate" tabindex="-1" role="dialog" aria-labelledby="confirmUpdateLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmUpdateLabel">{{ 'Version installieren'|trans }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{ 'Bitte erstelle zuerst ein Backup, bevor die Installation durchgeführt wird.'|trans }}<br>
                            {{ 'Möchtest du den Prozess wirklich starten?'|trans }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Abbrechen'|trans }}</button>
                            <button type="submit" name="update" class="btn btn-primary">{{ 'Version installieren'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>

            {# confirm dev update modal #}
            <div class="modal fade" id="confirmDevUpdate" tabindex="-1" role="dialog" aria-labelledby="confirmDevUpdateLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmDevUpdateLabel">{{ 'Entwicklungsversion installieren'|trans }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            {{ 'Die aktuelle Entwicklungsversion (dev-latest) beinhaltet alle Änderungen, welche noch nicht in einer regulären Version zusammengefasst wurden.'|trans }}
                            {{ 'Diese Änderungen können unvollständig und/oder fehleranfällig sein.'|trans }}<br>
                            {{ 'Bitte erstelle zuerst ein Backup, bevor die Installation durchgeführt wird.'|trans }}<br>
                            {{ 'Möchtest du den Prozess wirklich starten?'|trans }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Abbrechen'|trans }}</button>
                            <button type="submit" name="dev-update" class="btn btn-primary">{{ 'Entwicklungsversion installieren'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        $('#update').submit(function () {
            let $el = $(this)
            setTimeout(function() {
                $('#confirmUpdate').modal('hide');
                $('#confirmDevUpdate').modal('hide');
                $el.find('.update-status').removeClass('d-none');
                $el.find('button').prop('disabled', true);
                $el.find('.update-trigger').addClass('d-none');
            });
        });
    </script>
{% endblock %}