{% import "admin/forms.twig" as forms %}
{% import "admin/post/attribute-row.twig" as attrRow %}

{% extends 'admin/content.twig' %}

{% block title %}{% if post.getPostId() == 0 %}{{ 'Neuer Beitrag'|trans }}{% else %}{{ 'Beitrag bearbeiten'|trans }}{% endif %}{% endblock %}

{% set languageSelect = [] %}
{% for language in languages %}
    {% if language.isEnabled() %}
        {% set selected = false %}
        {% if language.getLanguageId() == post.language.getLanguageId() %}
            {% set selected = true %}
        {% endif %}
        {% set languageSelect = languageSelect|merge([{value: language.locale, label: language.description, selected: selected}]) %}
    {% endif %}
{% endfor %}

{% set categorySelect = [] %}
{% for category in post.categories %}
    {% set categorySelect = categorySelect|merge([{value: category, label: category, selected: true}]) %}
{% endfor %}

{%
    set messages = {
        invalid_input: {
            class: 'danger',
            message: 'Es sind Fehler aufgetreten, bitte prüfe deine Eingaben.'|trans
        },
        save_error: {
            class: 'danger',
            message: 'Beim Speichern ist ein Fehler aufgetreten, bitte prüfe deine Eingaben oder versuche es später erneut.'|trans
        },
        save_success: {
            class: 'success',
            message: 'Der Beitrag wurde erfolgreich gespeichert.'|trans
        },
        is_trash: {
            class: 'warning',
            message: 'Dieser Beitrag befindet sich im Papierkorb, speichere ihn um sie wiederherzustellen.'|trans
        }
    }
%}
{% if post.isTrash() %}
    {% set message = 'is_trash' %}
{% endif %}

{% block content %}
    {% if message %}
        <div class="alert alert-{{ messages[message].class }} alert-dismissible fade show" role="alert">
            {{ messages[message].message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <form method="post" id="post-form">
        {{ forms.form_group('text', 'post[name]', post.name, 'Name'|trans, '', 'name' in errors ? 'is-invalid' : '', 'Nur als interne Bezeichnung'|trans) }}
        {{ forms.form_group('datetime-local', 'post[publish_at]', post.getPublishAt()|date('Y-m-d') ~ 'T' ~ post.getPublishAt()|date('H:i'), 'Veröffentlichen am'|trans, '', 'publish_at' in errors ? 'datetimepicker is-invalid' : 'datetimepicker', 'Ab diesem Zeitpunkt ist der Beitrag sichtbar'|trans) }}
        {{ forms.form_group('select', 'post[language]', post.language, 'Standardsprache'|trans, '', 'language' in errors ? 'is-invalid' : '', '', languageSelect) }}
        {{ forms.form_group('multiselect', 'post[categories][]', post.categories, 'Kategorien'|trans, '', 'categories' in errors ? 'select2 is-invalid' : 'select2', 'Kategorien dieses Beitrages'|trans, categorySelect) }}
        {{ forms.form_group('checkbox', 'post[enabled]', post.enabled, 'Beitrag aktiviert'|trans) }}
        <h2 class="h4 mt-4">{{ 'Attribute'|trans }}</h2>
        <div id="attributes">
            {{ attrRow.initialRow('post[attributes][0]', post.attributes[0].name, post.attributes[0].value) }}
            {% for key, attribute in post.attributes %}
                {% if key > 0 %}
                    {{ attrRow.additionalRow('post[attributes][' ~ key ~']', attribute.name, attribute.value) }}
                {% endif %}
            {% endfor %}
        </div>
        <div id="attribute-template" class="d-none">{{ attrRow.additionalRow('post[attributes][X]', '', '') }}</div>
        <h2 class="h4 mt-4">{{ 'Sprachen'|trans }}</h2>
        <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
            {% for language in languages %}
                {% if language.isEnabled() %}
                    <li class="nav-item">
                        <a class="nav-link {% if loop.first %}active{% endif %}" id="{{ language.locale }}-tab" data-toggle="tab" href="#lang-{{ language.locale }}" role="tab" aria-controls="lang-{{ language.locale }}" aria-selected="true">{{ language.description }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="tab-content mt-4" id="myTabContent">
            {% for language in languages %}
                {% if language.isEnabled() %}
                    <div class="tab-pane fade show {% if loop.first %}active{% endif %}" id="lang-{{ language.locale }}" role="tabpanel" aria-labelledby="{{ language.locale }}-tab">
                        {{ forms.form_group('checkbox', 'translation[' ~ language.locale ~ '][enabled]', translations[language.locale].enabled, 'Übersetzung aktiviert'|trans) }}
                        {{ forms.form_group('text', 'translation[' ~ language.locale ~ '][name]', translations[language.locale].name, 'Beitragsname'|trans, '', language.locale ~ '_name' in errors ? 'is-invalid' : '', 'Der Name, welcher in der URL verwendet wird'|trans) }}
                        {{ forms.form_group('text', 'translation[' ~ language.locale ~ '][title]', translations[language.locale].title, 'Beitragstitel'|trans, '', language.locale ~ '_title' in errors ? 'is-invalid' : '', 'Der Titel, welcher im Browser angezeigt wird') }}
                        {{ forms.form_group('text', 'translation[' ~ language.locale ~ '][meta_keywords]', translations[language.locale].metaKeywords, 'Suchbegriffe'|trans, '', language.locale ~ '_keywords' in errors ? 'is-invalid' : '', 'Begriffe, über welche dieser Beitrag gefunden werden soll (SEO), von Seite übernommen, falls leer'|trans) }}
                        {{ forms.form_group('textarea', 'translation[' ~ language.locale ~ '][meta_description]', translations[language.locale].metaDescription, 'Beschreibung'|trans, '', language.locale ~ '_description' in errors ? 'is-invalid' : '', 'Eine kurze Beschreibung des Beitraginhalts (SEO), von Seite übernommen, falls leer'|trans) }}
                        {{ forms.form_group('text', 'translation[' ~ language.locale ~ '][meta_author]', translations[language.locale].metaAuthor, 'Autor'|trans, '', language.locale ~ '_author' in errors ? 'is-invalid' : '', 'Von Seite übernommen, falls leer'|trans) }}
                        {{ forms.form_group('text', 'translation[' ~ language.locale ~ '][meta_copyright]', translations[language.locale].metaCopyright, 'Copyright'|trans, '', language.locale ~ '_copyright' in errors ? 'is-invalid' : '', 'Von Seite übernommen, falls leer'|trans) }}
                        {{ forms.form_group('fileurl', 'translation[' ~ language.locale ~ '][meta_image]', translations[language.locale].metaImage, 'Titelbild'|trans, '', language.locale ~ '_image' in errors ? 'is-invalid' : '', 'Titelbild, wird z.B. beim Teilen auf Facebook dargestellt, von Seite übernommen, falls leer'|trans) }}
                        {{ forms.form_group('textarea', 'translation[' ~ language.locale ~ '][content]', translations[language.locale].content, 'Inhalt'|trans, '', language.locale ~ '_content' in errors ? 'tinymce is-invalid' : 'tinymce') }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="text-right mb-4">
            <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#confirmDelete">{% if post.isTrash() %}{{ 'Endgültig löschen'|trans }}{% else %}{{ 'Löschen'|trans }}{% endif %}</button>
            <button class="btn btn-primary" name="save">{% if post.isTrash() %}{{ 'Wiederherstellen'|trans }}{% else %}{{ 'Speichern'|trans }}{% endif %}</button>
        </div>

        {# confirm delete modal #}
        <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteLabel">{{ 'Beitrag löschen'|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% if post.isTrash() %}
                            {{ 'Möchtest du den Beitrag wirklich unwiderruflich löschen?'|trans }}
                        {% else %}
                            {{ 'Möchtest du den Beitrag wirklich löschen?'|trans }}
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Abbrechen'|trans }}</button>
                        <button type="submit" name="delete" class="btn btn-danger">{{ 'Ja, Beitrag löschen'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% include 'admin/partial/insert-widget-modal.twig' %}
    {% include 'admin/partial/insert-module-modal.twig' %}
    {% include 'admin/partial/insert-posts-modal.twig' %}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $('.select2').select2({
            tags: true
        });
        $('.add-attribute').click(function() {
            var $row = $($('#attribute-template').html());
            $('#attributes').append($row);
            numAttributes();
        });
        $('body').on('click', '.remove-attribute', function() {
            $(this).closest('.form-group').remove();
            numAttributes();
        });
        function numAttributes() {
            var num = 0;
            $('#attributes .form-group').each(function() {
                $($(this).find('input')[0]).attr('name', 'post[attributes][' + num + '][name]');
                $($(this).find('input')[1]).attr('name', 'post[attributes][' + num + '][value]');
                num++;
            });
        }
    </script>
{% endblock %}
