{% extends 'admin/content.twig' %}

{% block title %}Beiträge{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-hover border">
            <thead class="thead-light">
            <tr>
                <th style="width: 40px;"></th>
                <th>Name</th>
                <th>Veröffentlicht am</th>
                <th>Kategorien</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for key, val in posts %}
                <tr style="cursor: pointer;" onclick="window.location.href='{{ admin_url }}/post/{{ val.getPostId() }}';">
                    <td class="text-center">
                        {% if val.isEnabled() %}
                            <i class="fa fa-file-alt"></i>
                        {% else %}
                            <i class="fa fa-eye-slash"></i>
                        {% endif %}
                    </td>
                    <td>{{ val.getName() }}</td>
                    <td>{{ val.getPublishAt()|date('d.m.Y H:i') }}</td>
                    <td>{{ val.getCategories()|join(', ') }}</td>
                    <td>
                        {% if val.isEnabled() %}
                            <i class="fa fa-check fa-fw text-success"></i> Aktiv
                        {% else %}
                            <i class="fa fa-times fa-fw text-danger"></i> Inaktiv
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td></td>
                    <td colspan="4">Keine Beiträge gefunden</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-right">
        <a href="{{ admin_url }}/post/add" class="btn btn-primary">Neuer Beitrag</a>
    </div>
{% endblock %}