{% extends 'admin/content.twig' %}

{% block title %}{{ 'Beiträge'|trans }}{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table {% if posts|length > 0 %}table-hover{% endif %} border datatable" data-order='[[ 3, "asc" ], [ 1, "desc" ]]'>
            <thead>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Veröffentlicht am'|trans }}</th>
                <th>{{ 'Kategorien'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
                <th data-sortable="false"></th>
            </tr>
            </thead>
            <tbody>
            {% for key, val in posts %}
                <tr style="cursor: pointer;" onclick="window.location.href='{{ admin_url }}/post/{{ val.getPostId() }}';">
                    <td>{{ val.getName() }}</td>
                    <td data-order="{{ val.getPublishAt()|date('Y-m-d H:i') }}">{{ val.getPublishAt()|date('d.m.Y H:i') }}</td>
                    <td>{{ val.getCategories()|join(', ') }}</td>
                    <td>
                        {% if val.isEnabled() %}
                            <i class="fa fa-check fa-fw text-success"></i> {{ 'Aktiv'|trans }}
                        {% else %}
                            <i class="fa fa-times fa-fw text-danger"></i> {{ 'Inaktiv'|trans }}
                        {% endif %}
                    </td>
                    <td class="text-end">
                        {% if val.isEnabled() %}
                            <i class="fa fa-rss"></i>
                        {% else %}
                            <i class="fa fa-eye-slash"></i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-end mt-2">
        <a href="{{ admin_url }}/post/add" class="btn btn-primary">{{ 'Neuer Beitrag'|trans }}</a>
    </div>
{% endblock %}