{% import "admin/forms.twig" as forms %}

{% extends 'admin/content.twig' %}

{% block title %}{% if user.getUserId() > 0 %}Benutzer bearbeiten{% else %}Neuer Benutzer{% endif %}{% endblock %}

{%
    set messages = {
        invalid_input: {
            class: 'danger',
            message: 'Es sind Fehler aufgetreten, bitte prüfe deine Eingaben.'
        },
        save_error: {
            class: 'danger',
            message: 'Beim Speichern ist ein Fehler aufgetreten, bitte prüfe deine Eingaben oder versuche es später erneut.'
        },
        save_success: {
            class: 'success',
            message: 'Der Benutzer wurde erfolgreich gespeichert.'
        },
        delete_error: {
            class: 'danger',
            message: 'Beim Löschen ist ein Fehler aufgetreten, bitte prüfe deine Eingaben oder versuche es später erneut.'
        }
    }
%}

{% set languageSelect = [] %}
{% for key, language in languages %}
    {% set selected = false %}
    {% if key == user.locale %}
        {% set selected = true %}
    {% endif %}
    {% set languageSelect = languageSelect|merge([{value: key, label: language, selected: selected}]) %}
{% endfor %}

{% block content %}
    {% if message %}
        <div class="alert alert-{{ messages[message].class }} alert-dismissible fade show" role="alert">
            {{ messages[message].message|raw }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <form method="post" id="page-form">
        {{ forms.form_group('text', 'username', user.username, 'Benutzername', '', 'username' in errors ? 'is-invalid' : '', 'Damit meldet sich der Benutzer an, 3-128 Zeichen') }}
        {{ forms.form_group('text', 'firstname', user.firstname, 'Vorname', '', 'firstname' in errors ? 'is-invalid' : '', 'max. 128 Zeichen') }}
        {{ forms.form_group('text', 'lastname', user.lastname, 'Name', '', 'lastname' in errors ? 'is-invalid' : '', 'max. 128 Zeichen') }}
        {{ forms.form_group('text', 'email', user.email, 'E-Mail', '', 'email' in errors ? 'is-invalid' : '', 'Die E-Mail Adresse wird z.B. benötigt um das Passwort zurückzusetzen') }}
        {{ forms.form_group('select', 'locale', user.locale, 'Sprache', '', 'locale' in errors ? 'is-invalid' : '', 'In dieser Sprache wird das CMS angezeigt', languageSelect) }}
        {{ forms.form_group('password', 'password_new', '', 'Neues Passwort', '', 'password_new' in errors ? 'is-invalid' : '', 'min. 6 Zeichen') }}
        {{ forms.form_group('password', 'password_confirm', '', 'Passwort bestätigen', '', 'password_confirm' in errors ? 'is-invalid' : '', 'Bitte wiederhole das Passwort um Tippfehler zu vermeiden') }}
        {{ forms.form_group('checkbox', 'locked', user.locked, 'Login gesperrt', '', 'locked' in errors ? 'is-invalid' : '') }}
        <div class="text-right mb-4">
            <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#confirmDelete">Löschen</button>
            <button class="btn btn-primary" name="save">Speichern</button>
        </div>

        {# confirm delete modal #}
        <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteLabel">Benutzer löschen</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Möchtest du den Benutzer wirklich unwiderruflich löschen?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                        <button type="submit" name="delete" class="btn btn-danger">Ja, Benutzer löschen</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}