{% import "admin/forms.twig" as forms %}

{% extends 'admin/content.twig' %}

{% block title %}{% if user.getUserId() > 0 %}{{ 'Benutzer bearbeiten'|trans }}{% else %}{{ 'Neuer Benutzer'|trans }}{% endif %}{% endblock %}

{%
    set messages = {
        invalid_input: {
            class: 'danger',
            message: 'Es sind Fehler aufgetreten, bitte prüfe deine Eingaben.'|trans
        },
        save_error: {
            class: 'danger',
            message: 'Beim Speichern ist ein Fehler aufgetreten, bitte prüfe deine Eingaben oder versuche es später erneut.'|trans
        },
        save_success: {
            class: 'success',
            message: 'Der Benutzer wurde erfolgreich gespeichert.'|trans
        },
        delete_error: {
            class: 'danger',
            message: 'Beim Löschen ist ein Fehler aufgetreten, bitte prüfe deine Eingaben oder versuche es später erneut.'|trans
        }
    }
%}

{% set languageSelect = [] %}
{% for key, language in languages %}
    {% set selected = false %}
    {% if key == user.locale %}
        {% set selected = true %}
    {% endif %}
    {% set languageSelect = languageSelect|merge([{value: key, label: language, selected: selected}]) %}
{% endfor %}

{% block content %}
    {% if message %}
        <div class="alert alert-{{ messages[message].class }} alert-dismissible fade show" role="alert">
            {{ messages[message].message|raw }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <form method="post" id="page-form">
        {{ forms.form_group('text', 'username', user.username, 'Benutzername'|trans, '', 'username' in errors ? 'is-invalid' : '', 'Damit meldet sich der Benutzer an, 3-128 Zeichen'|trans) }}
        {{ forms.form_group('text', 'firstname', user.firstname, 'Vorname'|trans, '', 'firstname' in errors ? 'is-invalid' : '', 'max. 128 Zeichen'|trans) }}
        {{ forms.form_group('text', 'lastname', user.lastname, 'Name'|trans, '', 'lastname' in errors ? 'is-invalid' : '', 'max. 128 Zeichen'|trans) }}
        {{ forms.form_group('text', 'email', user.email, 'E-Mail'|trans, '', 'email' in errors ? 'is-invalid' : '', 'Die E-Mail Adresse wird z.B. benötigt um das Passwort zurückzusetzen'|trans) }}
        {{ forms.form_group('select', 'locale', user.locale, 'Sprache'|trans, '', 'locale' in errors ? 'is-invalid' : '', 'In dieser Sprache wird das CMS angezeigt'|trans, languageSelect) }}
        {{ forms.form_group('password', 'password_new', '', 'Neues Passwort'|trans, '', 'password_new' in errors ? 'is-invalid' : '', 'min. 6 Zeichen'|trans) }}
        {{ forms.form_group('password', 'password_confirm', '', 'Passwort bestätigen'|trans, '', 'password_confirm' in errors ? 'is-invalid' : '', 'Bitte wiederhole das Passwort um Tippfehler zu vermeiden'|trans) }}
        {{ forms.form_group('checkbox', 'locked', user.locked, 'Login gesperrt'|trans, '', 'locked' in errors ? 'is-invalid' : '') }}
        <div class="text-right mb-4">
            <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#confirmDelete">{{ 'Löschen'|trans }}</button>
            <button class="btn btn-primary" name="save">{{ 'Speichern'|trans }}</button>
        </div>

        {# confirm delete modal #}
        <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteLabel">{{ 'Benutzer löschen'|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ 'Möchtest du den Benutzer wirklich unwiderruflich löschen?'|trans }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Abbrechen'|trans }}</button>
                        <button type="submit" name="delete" class="btn btn-danger">{{ 'Ja, Benutzer löschen'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}