{% if gallery.download and gallery.zip %}
    <a class="float-end btn btn-primary" href="{{ base_url() }}{{ gallery.zip }}">
        <i class="fa fa-download"></i>
    </a>
{% endif %}
<h1>{{ gallery.title }}</h1>
{% if gallery.description %}
<p>{{ gallery.description }}</p>
{% endif %}
<div class="row g-2">
    {% for img in glob('../public/uploads/' ~ gallery.path ~ '/*.*') %}
        {% set path = img|replace({ '../public/': '' }) %}
        {% if img|replace({ 'public/uploads': 'public/thumb' })|file_exists %}
            {% set path = img|replace({ '../public/uploads': 'thumb' }) %}
        {% elseif img|replace({ 'public/uploads': 'public/thumbs' })|file_exists %}
            {% set path = img|replace({ '../public/uploads': 'thumbs' }) %}
        {% endif %}
        {% if img ends with '.mov' or img ends with '.mp4' %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mt-2">
                <a href="#" class="d-block background-cover gallery-item d-flex justify-content-center align-items-center bg-secondary text-white text-decoration-none" data-bs-toggle="modal" data-bs-target="#item-modal" data-item="{{ loop.index0 }}">
                    <i class="fa fa-play fa-4x"></i>
                </a>
            </div>
        {% else %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mt-2">
                <a href="#" class="d-block background-cover gallery-item" style="background-image: url('{{ base_url() }}/{{ path }}');" data-bs-toggle="modal" data-bs-target="#item-modal" data-item="{{ loop.index0 }}"></a>
            </div>
        {% endif %}
    {% endfor %}
</div>
<div class="modal fade" id="item-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content d-block">
            <div class="modal-body text-center">
                <div id="galleryCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for img in glob('../public/uploads/' ~ gallery.path ~ '/*.*') %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                {% if img ends with '.mov' or img ends with '.mp4' %}
                                    <video src="{{ base_url() }}/{{ img|replace({ '../public/': '' }) }}" class="d-block w-100 elem"></video>
                                {% else %}
                                    <img data-src="{{ base_url() }}/{{ img|replace({ '../public/': '' }) }}" class="d-block w-100 elem">
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#galleryCarousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#galleryCarousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function modalListener() {
        if (window.jQuery) {
            $('#item-modal').on('show.bs.modal', function (event) {
                let target = $(event.relatedTarget);
                let item = target.data('item');
                let modal = $(this);

                let elem = modal.find('#galleryCarousel').find('.carousel-item .elem')[item];
                controlVideos(elem);
                if (!$(elem).attr('src')) {
                    $(elem).attr('src', $(elem).data('src'));
                }
                if ($(elem).is('video')) {
                    elem.currentTime = 0;
                    elem.play();
                }
                modal.find('#galleryCarousel').carousel(item);
            });
            $('#galleryCarousel').on('slide.bs.carousel', function(e) {
                let $elem = $(e.relatedTarget).find('.elem');
                controlVideos($elem.get(0));
                if (!$elem.attr('src')) {
                    $elem.attr('src', $elem.data('src'));
                }
            });
            $('#item-modal').on('hide.bs.modal', function () {
                controlVideos();
            });
        } else {
            window.setTimeout(modalListener, 100);
        }
    }
    function controlVideos(current) {
        $('#galleryCarousel video').each(function() {
            this.currentTime = 0;
            if (this === current) {
                this.play();
            } else {
                this.pause();
            }
        });
    }
    modalListener();
</script>