<h1>{{ config.title }}</h1>
<div class="form-row">
    {% for name, gallery in config.galleries %}
        <div class="col-md-4 col-lg-3">
            <a class="card mb-4 card-link" href="{{ base_url() }}/{{ page.getLanguage().getLocale() }}/{{ page.getName() }}/{{ name }}">
                <div class="background-cover" style="background-image:url('{{ base_url() }}/uploads/{{ gallery.cover }}');"></div>
                <div class="card-body">
                    <h5 class="card-title">{{ gallery.title }}</h5>
                    {% if gallery.description %}
                        <p class="card-text">{{ gallery.description }}</p>
                    {% endif %}
                </div>
            </a>
        </div>
    {% endfor %}
</div>