{% extends 'admin/layout.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand p-0" href="{{ admin_url }}">
                <img src="{{ base_url() }}/img/admin/logo-white-small.png" width="32" height="32">
                <span class="align-middle ms-1">GislerCMS</span>
            </a>
            <button id="toggle-side-navigation" class="navbar-toggler" type="button" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-none d-lg-block" id="navbarNavDropdown">
                <div class="navbar-nav ms-auto">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-sun" id="theme-toggle"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="#" data-bs-theme-value="light">
                                <i class="fa-solid fa-sun fa-fw me-2"></i>
                                {{ 'Hell'|trans }}
                            </a>
                            <a class="dropdown-item" href="#" data-bs-theme-value="dark">
                                <i class="fa fa-moon fa-fw me-2"></i>
                                {{ 'Dunkel'|trans }}
                            </a>
                            <a class="dropdown-item" href="#" data-bs-theme-value="auto">
                                <i class="fa fa-circle-half-stroke fa-fw me-2"></i>
                                {{ 'Auto'|trans }}
                            </a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.getDisplayName() }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="{{ admin_url }}/misc/profile">
                                <i class="fa fa-user fa-fw me-2"></i>
                                {{ 'Profil'|trans }}
                            </a>
                            <a class="dropdown-item" href="{{ admin_url }}/misc/change-password">
                                <i class="fa fa-key fa-fw me-2"></i>
                                {{ 'Passwort ändern'|trans }}
                            </a>
                            <hr class="dropdown-divider">
                            <a class="dropdown-item" href="{{ admin_url }}/logout">
                                <i class="fa fa-sign-out-alt fa-fw me-2"></i>
                                {{ 'Abmelden'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-lg-3 col-xl-2 d-none d-lg-block nav flex-column py-3" id="side-navigation">
                {% for group in navigation %}
                    <div class="{{ group.class }}">
                        {% if not loop.first %}
                            <hr>
                        {% endif %}
                        {% for item in group.items %}
                            <a class="nav-link {% if route in item.route %}active{% else %}text-body{% endif %}" aria-current="page" href="{{ item.href }}" {% for k, v in item.attributes %}{{ k }}="{{ v }}"{% endfor %}>
                                <i class="fa {{ item.icon }} fa-fw me-2"></i>
                                {{ item.label|trans }}
                                {% if item.count > 0 %}
                                    <span class="badge bg-secondary rounded-pill float-end">{{ item.count }}</span>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                {% endfor %}
            </nav>
            <main role="main" class="d-lg-block ms-sm-auto col-lg-9 col-xl-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">{% block title %}{% endblock %}</h1>
                </div>
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

    {# filemanager modal #}
    <div class="modal fade" id="filemanagerModal" tabindex="-1" role="dialog" aria-labelledby="filemanagerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filemanagerModalLabel">{{ 'Dateiverwaltung'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe src="{{ base_url }}/editor/filemanager/dialog.php?type=1&lang=de&field_id=FIELD_ID" width="100%" height="500px" frameborder="0"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Abbrechen'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const BASE_URL = '{{ base_url() }}';
        const TRANS_LOCALE = '{{ user.getLocale() ?: 'de' }}';
        const TMCE_TRANS = {
            addElement: '{{ 'Element hinzufügen'|trans }}',
            posts: '{{ 'Beiträge'|trans }}',
            module: '{{ 'Module'|trans }}',
            widget: '{{ 'Widgets'|trans }}'
        };
    </script>
    <script src="{{ base_url() }}/js/jquery.min.js"></script>
    <script src="{{ base_url() }}/js/dataTables.min.js"></script>
    <script src="{{ base_url() }}/js/dataTables.bootstrap5.min.js"></script>
    <script src="{{ base_url() }}/js/select2.min.js"></script>
    <script src="{{ base_url() }}/js/bootstrap.bundle.min.js"></script>
    <script src="{{ base_url() }}/editor/tinymce/tinymce.min.js"></script>
    <script src="{{ base_url() }}/js/admin.js"></script>

    <script>
        function autocompletePageWidgets() {
            autocompleteWidgets([{% for widget in widgets %}{% if not widget.isTrash() and widget.isEnabled() %}'{{ widget.getName() }}',{% endif %}{% endfor %}]);
        }
        function autocompletePageModules() {
            autocompleteModules([{% for module in modules %}{% if not module.isTrash() and module.isEnabled() %}'{{ module.getName() }}',{% endif %}{% endfor %}]);
        }
    </script>
{% endblock %}