{% macro form_group(type, name, value, label, placeholder, class, hint, options) %}
    {% import _self as forms %}
    {% if type == 'checkbox' %}
        {{ forms.checkbox(name, value, label, class, hint) }}
    {% elseif type == 'file' %}
        {{ forms.file(name, label, placeholder, class, hint, options) }}
    {% else %}
        {% set id = name|replace({'[': '_', ']': '_'}) %}
        <div class="form-group">
            <label for="input_{{ id }}" class="{% if 'is-invalid' in class %}text-danger{% endif %}">{{ label }}</label>
            {% if type == 'textarea' %}
                {{ forms.textarea(name, value, placeholder, class, hint) }}
            {% elseif type == 'json' %}
                {{ forms.json(name, value, placeholder, class, hint) }}
            {% elseif type == 'select' %}
                {{ forms.select(name, value, options, placeholder, class, hint) }}
            {% elseif type == 'multiselect' %}
                {{ forms.multiselect(name, value, options, placeholder, class, hint) }}
            {% elseif type == 'fileurl' %}
                {{ forms.fileurl(name, value, placeholder, class, hint) }}
            {% else %}
                {{ forms.input(type, name, value, placeholder, class, hint) }}
            {% endif %}
            {% if hint %}<small id="hint_{{ id }}" class="form-text text-muted">{{ hint }}</small>{% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro textarea(name, value, placeholder, class, hint) %}
    {% set id = name|replace({'[': '_', ']': '_'}) %}
    <textarea class="form-control {{ class }}" name="{{ name }}" id="input_{{ id }}" {% if hint %}aria-describedby="hint_{{ id }}"{% endif %} placeholder="{{ placeholder }}">{{ value }}</textarea>
{% endmacro %}

{% macro json(name, value, placeholder, class, hint) %}
    {% set id = name|replace({'[': '_', ']': '_'}) %}
    <textarea name="{{ name }}" class="d-none" placeholder="{{ placeholder }}" id="input_{{ id }}" {% if hint %}aria-describedby="hint_{{ id }}"{% endif %}>{{ value }}</textarea>
    <div id="json-editor" class="form-control {{ class }}" {% if hint %}aria-describedby="hint_{{ id }}"{% endif %} style="height: 410px;">{{ value }}</div>
{% endmacro %}

{% macro select(name, value, options, placeholder, class, hint) %}
    {% set id = name|replace({'[': '_', ']': '_'}) %}
    <select class="form-control {{ class }}" id="input_{{ id }}" name="{{ name }}" {% if hint %}aria-describedby="hint_{{ id }}"{% endif %}>
        {% for elem in options %}
            <option value="{{ elem.value }}"{% if elem.selected %} selected{% endif %}>{{ elem.label }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro multiselect(name, value, options, placeholder, class, hint) %}
    {% set id = name|replace({'[': '_', ']': '_'}) %}
    <select class="form-control {{ class }}" id="input_{{ id }}" name="{{ name }}" {% if hint %}aria-describedby="hint_{{ id }}"{% endif %} multiple="multiple">
        {% for elem in options %}
            <option value="{{ elem.value }}"{% if elem.selected %} selected{% endif %}>{{ elem.label }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro checkbox(name, value, label, class, hint) %}
    {% set id = name|replace({'[': '_', ']': '_'}) %}
    <div class="custom-control custom-checkbox {{ class }}">
        <input type="checkbox" class="custom-control-input" id="input_{{ id }}" name="{{ name }}" {% if value %}checked{% endif %}>
        <label class="custom-control-label" for="input_{{ id }}">{{ label }}</label>
    </div>
    {% if hint %}<small id="hint_{{ id }}" class="form-text text-muted">{{ hint }}</small>{% endif %}
    <div class="mt-3"></div>
{% endmacro %}

{% macro input(type, name, value, placeholder, class, hint) %}
    {% set id = name|replace({'[': '_', ']': '_'}) %}
    <input type="{{ type }}" name="{{ name }}" class="form-control {{ class }}" id="input_{{ id }}" {% if hint %}aria-describedby="hint_{{ id }}"{% endif %} value="{{ value }}" placeholder="{{ placeholder }}">
{% endmacro %}

{% macro fileurl(name, value, placeholder, class, hint) %}
    {% set id = name|replace({'[': '_', ']': '_'}) %}
    <div class="input-group">
        <input type="text" name="{{ name }}" class="form-control {{ class }}" id="input_{{ id }}" {% if hint %}aria-describedby="hint_{{ id }}"{% endif %} value="{{ value }}" placeholder="{{ placeholder }}">
        <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#filemanagerModal" data-field="input_{{ id }}">Auswählen</button>
        </div>
    </div>
{% endmacro %}

{% macro file(name, label, placeholder, class, hint, accept) %}
    {% set id = name|replace({'[': '_', ']': '_'}) %}
    <div class="custom-file mb-2">
        <input type="file" class="custom-file-input" name="{{ name }}" id="{{ id }}" accept="{{ accept }}">
        <label class="custom-file-label" for="{{ id }}" data-browse="{{ label }}" data-placeholder="{{ placeholder }}">{{ placeholder }}</label>
        {% if hint %}<small id="hint_{{ id }}" class="form-text text-muted">{{ hint }}</small>{% endif %}
    </div>
{% endmacro %}