{% macro form_group(type, name, label, placeholder, hint) %}
    <div class="form-group">
        <label for="input_{{ name }}">{{ label }}</label>
        <input type="{{ type }}" class="form-control" id="input_{{ name }}" {% if hint %}aria-describedby="hint_{{ name }}"{% endif %} placeholder="{{ placeholder }}">
        {% if hint %}<small id="hint_{{ name }}" class="form-text text-muted">{{ hint }}</small>{% endif %}
    </div>
{% endmacro %}