{% extends 'admin/content.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-3 col-sm-6">
            <a href="{{ admin_url }}/stats/clients" class="card text-white bg-primary mb-3 card-link">
                <div class="card-body text-right">
                    <i class="fa fa-user fa-5x float-left"></i>
                    <p class="card-title h2">{{ stats.counts.clients }}</p>
                    <p class="card-text h6">Besucher</p>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-sm-6">
            <a href="{{ admin_url }}/stats/clients/real" class="card text-white bg-success mb-3 card-link">
                <div class="card-body text-right">
                    <i class="fa fa-user fa-5x float-left"></i>
                    <p class="card-title h2">{{ stats.counts.real_clients }}</p>
                    <p class="card-text h6">Echte Besucher</p>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-sm-6">
            <a href="{{ admin_url }}/stats/sessions" class="card text-white bg-info mb-3 card-link">
                <div class="card-body text-right">
                    <i class="fa fa-eye fa-5x float-left"></i>
                    <p class="card-title h2">{{ stats.counts.sessions }}</p>
                    <p class="card-text h6">Seitenbesuche</p>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-sm-6">
            <a href="{{ admin_url }}/stats/visits" class="card text-white bg-secondary mb-3 card-link">
                <div class="card-body text-right">
                    <i class="fa fa-chart-line fa-5x float-left"></i>
                    <p class="card-title h2">{{ stats.counts.visits }}</p>
                    <p class="card-text h6">Seitenaufrufe</p>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h3>Seiten</h3>
                    <table class="table table-bordered table-responsive-xs datatable" data-order='[[ 2, "desc" ]]'>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Sprache</th>
                            <th>Aufrufe</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for vis in stats.pages %}
                            <tr>
                                <td>{{ vis.name }}</td>
                                <td>{{ vis.language.getDescription() }}</td>
                                <td>{{ vis.visits }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h3>Betriebssysteme</h3>
                    <table class="table table-bordered datatable" data-order='[[ 1, "desc" ]]' data-searching="false"
                           data-paging="false">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Besuche</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for platform, visits in stats.platforms %}
                            <tr>
                                <td>{{ platform }}</td>
                                <td>{{ visits }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h3>Browser</h3>
                    <table class="table table-bordered datatable" data-order='[[ 1, "desc" ]]' data-searching="false"
                           data-paging="false">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Besuche</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for browser, visits in stats.browsers %}
                            <tr>
                                <td>{{ browser }}</td>
                                <td>{{ visits }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
