{% extends 'admin/content.twig' %}

{% block title %}{{ 'Dashboard'|trans }}{% endblock %}

{% block content %}
    {% if not tracking %}
        <div class="alert alert-warning" role="alert">
            {{ 'Die Aufzeichung von Statistiken ist deaktiviert!'|trans }} {{ 'Dies kann in der %s angepasst werden.'|trans|format('<a href="' ~ admin_url ~ '/misc/system/config">' ~ 'Konfiguration'|trans ~ '</a>')|raw }}
        </div>
    {% endif %}
    <div class="alert alert-info mx-0 row" role="alert">
        <div class="col-8 align-middle p-0 pt-1">
            {% if not calculation_date %}
                {{ 'Statistiken wurden noch nicht berechnet.'|trans }}
            {% else %}
                {{ 'Letzte Aktualisierung der Statistiken: %s'|trans|format(calculation_date|date('d.m.Y H:i:s')) }}
            {% endif %}
        </div>
        <div class="col-4 text-right p-0">
            <form method="post">
                <button type="submit" name="calculate" class="btn btn-primary btn-sm"><i class="fa fa-sync-alt mr-1"></i> {{ 'Aktualisieren'|trans }}</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-sm-6">
            <a href="{{ admin_url }}/stats/clients" class="card text-white bg-primary mb-3 card-link">
                <div class="card-body text-right">
                    <i class="fa fa-user fa-5x float-left"></i>
                    <p class="card-title h2">{{ stats.counts.clients }}</p>
                    <p class="card-text h6">{{ 'Besucher'|trans }}</p>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-sm-6">
            <a href="{{ admin_url }}/stats/clients/real" class="card text-white bg-success mb-3 card-link">
                <div class="card-body text-right">
                    <i class="fa fa-user fa-5x float-left"></i>
                    <p class="card-title h2">{{ stats.counts.real_clients }}</p>
                    <p class="card-text h6">{{ 'Echte Besucher'|trans }}</p>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-sm-6">
            <a href="{{ admin_url }}/stats/sessions" class="card text-white bg-info mb-3 card-link">
                <div class="card-body text-right">
                    <i class="fa fa-eye fa-5x float-left"></i>
                    <p class="card-title h2">{{ stats.counts.sessions }}</p>
                    <p class="card-text h6">{{ 'Seitenbesuche'|trans }}</p>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-sm-6">
            <a href="{{ admin_url }}/stats/visits" class="card text-white bg-secondary mb-3 card-link">
                <div class="card-body text-right">
                    <i class="fa fa-chart-line fa-5x float-left"></i>
                    <p class="card-title h2">{{ stats.counts.visits }}</p>
                    <p class="card-text h6">{{ 'Seitenaufrufe'|trans }}</p>
                </div>
            </a>
        </div>
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h3>{{ 'Seiten'|trans }}</h3>
                    <div class="table-responsive">
                        <table class="table table-bordered datatable" data-order='[[ 3, "desc" ]]'>
                            <thead>
                            <tr>
                                <th>{{ 'Name'|trans }}</th>
                                <th>{{ 'Sprache'|trans }}</th>
                                <th>{{ 'Parameter'|trans }}</th>
                                <th>{{ 'Aufrufe'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for vis in stats.pages %}
                                <tr>
                                    <td><a href="{{ admin_url }}/page/{{ vis.page_id }}">{{ vis.page_name }}</a></td>
                                    <td>{{ vis.language }}</td>
                                    <td>{{ vis.arguments }}</td>
                                    <td>{{ vis.visits }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h3>{{ 'Betriebssysteme'|trans }}</h3>
                    <table class="table table-bordered datatable" data-order='[[ 1, "desc" ]]'>
                        <thead>
                        <tr>
                            <th>{{ 'Name'|trans }}</th>
                            <th>{{ 'Besuche'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for platform, visits in stats.platforms %}
                            <tr>
                                <td>{{ platform ?: 'Unbekannt'|trans }}</td>
                                <td>{{ visits }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h3>{{ 'Browser'|trans }}</h3>
                    <table class="table table-bordered datatable" data-order='[[ 1, "desc" ]]'>
                        <thead>
                        <tr>
                            <th>{{ 'Name'|trans }}</th>
                            <th>{{ 'Besuche'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for browser, visits in stats.browsers %}
                            <tr>
                                <td>{{ browser ?: 'Unbekannt'|trans }}</td>
                                <td>{{ visits }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h3>{{ 'Statistiken'|trans }}</h3>
                    <ul class="nav nav-tabs" id="tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="year-tab" data-toggle="tab" href="#year-tab-content" role="tab" aria-controls="year" aria-selected="true">{{ 'Jahre'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="month-tab" data-toggle="tab" href="#month-tab-content" role="tab" aria-controls="month" aria-selected="false">{{ 'Monate'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="day-tab" data-toggle="tab" href="#day-tab-content" role="tab" aria-controls="day" aria-selected="false">{{ 'Tage'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="hour-tab" data-toggle="tab" href="#hour-tab-content" role="tab" aria-controls="hour" aria-selected="false">{{ 'Stunden'|trans }}</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="statistics-tabs">
                        <div class="tab-pane fade" id="year-tab-content" role="tabpanel" aria-labelledby="year-tab">
                            <canvas class="my-4 w-100" data-labels="{{ graph.year.labels|json_encode }}" data-counts="{{ graph.year.data|json_encode }}"></canvas>
                        </div>
                        <div class="tab-pane fade" id="month-tab-content" role="tabpanel" aria-labelledby="month-tab">
                            <canvas class="my-4 w-100" data-labels="{{ graph.month.labels|json_encode }}" data-counts="{{ graph.month.data|json_encode }}"></canvas>
                        </div>
                        <div class="tab-pane fade" id="day-tab-content" role="tabpanel" aria-labelledby="day-tab">
                            <canvas class="my-4 w-100" data-labels="{{ graph.day.labels|json_encode }}" data-counts="{{ graph.day.data|json_encode }}"></canvas>
                        </div>
                        <div class="tab-pane fade" id="hour-tab-content" role="tabpanel" aria-labelledby="hour-tab">
                            <canvas class="my-4 w-100" data-labels="{{ graph.hour.labels|json_encode }}" data-counts="{{ graph.hour.data|json_encode }}"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ base_url() }}/js/Chart.min.js"></script>
    <script>
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var ctx = $('#' + $(e.target).attr('id') + '-content').find('canvas');
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ctx.data('labels'),
                    datasets: [
                        {
                            label: '{{ 'Neue Besucher'|trans }}',
                            data: ctx.data('counts').clients,
                            lineTension: 0,
                            backgroundColor: '#007bff',
                            borderColor: '#007bff',
                            borderWidth: 2,
                            fill: false,
                        },
                        {
                            label: '{{ 'Besuche'|trans }}',
                            data: ctx.data('counts').sessions,
                            lineTension: 0,
                            backgroundColor: '#17a2b8',
                            borderColor: '#17a2b8',
                            borderWidth: 2,
                            fill: false,
                        },
                        {
                            label: '{{ 'Aufrufe'|trans }}',
                            data: ctx.data('counts').visits,
                            lineTension: 0,
                            backgroundColor: '#6c757d',
                            borderColor: '#6c757d',
                            borderWidth: 2,
                            fill: false,
                        }
                    ]
                },
                options: {
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                }
            });
        });
        $('#day-tab').tab('show');
    </script>
{% endblock %}
