<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Gisler Software">

        <title>{% block title %}{% endblock %} - GislerCMS</title>

        {% block stylesheets %}
            <!-- Custom styles for this template -->
            <link href="{{ base_url() }}/css/admin/style.min.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block scripts %}
            <script src="{{ base_url() }}/js/jquery.min.js"></script>
            <script src="{{ base_url() }}/js/bootstrap.bundle.min.js"></script>
            <script src="{{ base_url() }}/js/tinymce/tinymce.min.js"></script>
            <script src="{{ base_url() }}/js/script.js"></script>
        {% endblock %}
    </body>
</html>
