{% import "module/contact/inputs.twig" as forms %}

<form method="post">
    {% for key, elem in elements %}
        {% if elem.type == 'divider' %}
            <hr class="{{ elem.class }}">
        {% elseif elem.type == 'spacer' %}
            <div class="mx-1 {{ elem.class }}">&nbsp;</div>
        {% elseif elem.type == 'title' %}
            <div class="font-weight-bold {{ elem.class }}">{{ elem.label }}</div>
        {% elseif elem.type == 'submit' or elem.type == 'button' or elem.type == 'reset' %}
            {{ forms.button(elem.type, key, elem.label, elem.value, elem.class) }}
        {% else %}
            <div class="form-group">
                {% if elem.type != 'checkbox' %}
                    <label for="input_{{ key }}">{{ elem.label }}</label>
                {% endif %}

                {% if elem.type == 'textarea' %}
                    {{ forms.textarea(key, elem.value, elem.placeholder, elem.class) }}
                {% elseif elem.type == 'select' %}
                    {{ forms.select(key, elem.value, elem.options, elem.placeholder, elem.class) }}
                {% elseif elem.type == 'radio' %}
                    {{ forms.radio(key, elem.value, elem.options, elem.placeholder, elem.class) }}
                {% elseif elem.type == 'checkbox' %}
                    {{ forms.checkbox(key, elem.value, elem.label, elem.class) }}
                {% else %}
                    {{ forms.input(elem.type, key, elem.value, elem.placeholder, elem.class) }}
                {% endif %}

                {% if elem.hint %}<small id="hint_{{ elem.name }}" class="form-text text-muted">{{ elem.hint }}</small>{% endif %}
            </div>
        {% endif %}
    {% endfor %}
    {% for key, button in buttons %}
        <button type="{{ button.type }}" name="{{ key }}" class="btn {{ button.class }}">{{ button.label }}</button>
    {% endfor %}
</form>
