{% extends 'admin/layout.twig' %}

{% block title %}{{ 'Passwort vergessen'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ base_url() }}/css/admin/login.min.css">
{% endblock %}

{%
    set messages = {
        send_error: {
            class: 'danger',
            message: 'Beim Senden der E-Mail ist ein Fehler aufgetreten, bitte prüfe die Konfiguration oder versuche es später erneut.'|trans
        },
        success: {
            class: 'success',
            message: 'Bitte prüfe deinen E-Mail Posteingang.'|trans
        }
    }
%}

{% block body %}
    <form class="form-signin" method="post">
        <div class="text-center mb-4">
            <img class="mb-4" src="{{ base_url() }}/img/admin/logo-black.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">GislerCMS</h1>
            {% if message %}
                <div class="alert alert-{{ messages[message].class }} fade show" role="alert">
                    {{ messages[message].message }}
                </div>
            {% endif %}
        </div>

        <div class="form-floating mb-3">
            <input type="text" id="inputUser" name="username" class="form-control" placeholder="{{ 'Benutzername'|trans }}" value="{{ username }}" required autofocus>
            <label for="inputUser">{{ 'Benutzername'|trans }}</label>
        </div>

        <button class="btn btn-lg btn-primary w-100 mb-2" type="submit">{{ 'Passwort zurücksetzen'|trans }}</button>
        <a href="{{ admin_url }}/login" class="btn btn-lg btn-secondary w-100">{{ 'Zurück'|trans }}</a>
        <p class="mt-5 mb-3 text-muted text-center">&copy; {{ now|date('Y') }} Gisler Software</p>
    </form>
{% endblock %}