{% extends 'admin/content.twig' %}

{% block title %}Widgets{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-hover border">
            <thead class="thead-light">
            <tr>
                <th style="width: 40px;"></th>
                <th>Name</th>
                <th>Standardsprache</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for key, val in widgets %}
                <tr style="cursor: pointer;" onclick="window.location.href='{{ admin_url }}/widget/{{ val.getWidgetId() }}';">
                    <td class="text-center">
                        {% if val.isEnabled() %}
                            <i class="fa fa-file-alt"></i>
                        {% else %}
                            <i class="fa fa-eye-slash"></i>
                        {% endif %}
                    </td>
                    <td>{{ val.getName() }}</td>
                    <td>{{ val.getLanguage().getDescription() }}</td>
                    <td>
                        {% if val.isEnabled() %}
                            <i class="fa fa-check fa-fw text-success"></i> Aktiv
                        {% else %}
                            <i class="fa fa-times fa-fw text-danger"></i> Inaktiv
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td></td>
                    <td colspan="3">Keine Widgets gefunden</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-right">
        <a href="{{ admin_url }}/widget/add" class="btn btn-primary">Neues Widget</a>
    </div>
{% endblock %}