{% extends 'admin/content.twig' %}

{% block title %}{{ 'Widgets'|trans }}{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table {% if widgets|length > 0 %}table-hover{% endif %} border datatable" data-order='[[ 2, "asc" ], [ 0, "asc" ]]'>
            <thead>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Standardsprache'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
                <th data-sortable="false"></th>
            </tr>
            </thead>
            <tbody>
            {% for key, val in widgets %}
                <tr style="cursor: pointer;" onclick="window.location.href='{{ admin_url }}/widget/{{ val.getWidgetId() }}';">
                    <td>{{ val.getName() }}</td>
                    <td>{{ val.getLanguage().getDescription() }}</td>
                    <td>
                        {% if val.isEnabled() %}
                            <i class="fa fa-check fa-fw text-success"></i> {{ 'Aktiv'|trans }}
                        {% else %}
                            <i class="fa fa-times fa-fw text-danger"></i> {{ 'Inaktiv'|trans }}
                        {% endif %}
                    </td>
                    <td class="text-end">
                        {% if val.isEnabled() %}
                            <i class="fa fa-sticky-note"></i>
                        {% else %}
                            <i class="fa fa-eye-slash"></i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-end mt-2">
        <a href="{{ admin_url }}/widget/add" class="btn btn-primary">{{ 'Neues Widget'|trans }}</a>
    </div>
{% endblock %}