<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />

        <title>{{ 'Webseite wird gewartet'|trans }} | Gisler Software</title>

        <link rel="stylesheet" href="{{ base_url() }}/css/maintenance.min.css">
    </head>
    <body class="p-4">
        <div class="container">
            <div class="row mt-5">
                <div class="col-10 col-sm-8 p-4 m-auto">
                    <img src="{{ base_url() }}/img/logo.png" alt="Logo" class="mw-100">
                </div>
            </div>
            <div class="p-3">
                <h1>{{ 'Webseite wird gewartet'|trans }}</h1>
                <p>
                    {{ 'Unsere Webseite wird aktuell gewartet und ist deshalb nicht erreichbar.'|trans }}<br>
                    {{ 'Bitte schauen Sie später erneut vorbei!'|trans }}
                </p>
                <p>&mdash; Gisler Software</p>
            </div>
        </div>
    </body>
</html>
