{% import "admin/forms.twig" as forms %}

{% extends 'admin/content.twig' %}

{% block title %}Modul bearbeiten{% endblock %}

{%
    set messages = {
        invalid_input: {
            class: 'danger',
            message: 'Es sind Fehler aufgetreten, bitte prüfe deine Eingaben.'
        },
        save_error: {
            class: 'danger',
            message: 'Beim Speichern ist ein Fehler aufgetreten, bitte prüfe deine Eingaben oder versuche es später erneut.'
        },
        save_success: {
            class: 'success',
            message: 'Das Modul wurde erfolgreich gespeichert.'
        }
    }
%}

{% set contSelect = [] %}
{% for cont in controllers %}
    {% set selected = false %}
    {% if cont == module.controller %}
        {% set selected = true %}
    {% endif %}
    {% set contSelect = contSelect|merge([{value: cont, label: cont, selected: selected}]) %}
{% endfor %}

{% block content %}
    {% if message %}
        <div class="alert alert-{{ messages[message].class }} alert-dismissible fade show" role="alert">
            {{ messages[message].message|raw }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <form method="post" id="page-form">
        {{ forms.form_group('text', 'name', module.name, 'Name', '', 'name' in errors ? 'is-invalid' : '', 'Interne Bezeichnung des Modules') }}
        {{ forms.form_group('select', 'controller', module.controller, 'Controller', '', 'controller' in errors ? 'is-invalid' : '', '', contSelect) }}
        {{ forms.form_group('json', 'config', module.config, 'Konfiguration', '', 'config' in errors ? 'is-invalid' : '') }}
        <div class="text-right mb-4">
            <button class="btn btn-primary" name="save">Speichern</button>
        </div>
    </form>
{% endblock %}