{% extends 'admin/content.twig' %}

{% block title %}{{ 'Module'|trans }}{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table {% if modules|length > 0 %}table-hover{% endif %} border datatable" data-column-defs="[{ width: '10px', targets: 0 }]" data-order='[[ 2, "asc" ], [ 1, "asc" ]]'>
            <thead class="table-light">
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Typ'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for key, val in modules %}
                <tr style="cursor: pointer;" onclick="window.location.href='{{ admin_url }}/module/{{ val.getModuleId() }}';">
                    <td>{{ val.getName() }}</td>
                    <td>{{ val.getController()|replace({'ModuleController': '', 'Controller': ''}) }}</td>
                    <td class="text-end">
                        <i class="fa fa-code"></i>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-end mt-2">
        <a href="{{ admin_url }}/module/add" class="btn btn-primary">{{ 'Neues Modul'|trans }}</a>
    </div>
{% endblock %}
