{% import "admin/forms.twig" as forms %}

{% extends 'admin/content.twig' %}

{% block title %}Modul "{{ module.getName() }}" verwalten ({{ module.getController()|replace({'ModuleController': '', 'Controller': ''}) }}){% endblock %}

{%
    set messages = {
        invalid_input: {
            class: 'danger',
            message: 'Es sind Fehler aufgetreten, bitte prüfe deine Eingaben.'
        },
        save_error: {
            class: 'danger',
            message: 'Beim Speichern ist ein Fehler aufgetreten, bitte prüfe deine Eingaben oder versuche es später erneut.'
        },
        save_success: {
            class: 'success',
            message: 'Das Modul wurde erfolgreich gespeichert.'
        },
        delete_success: {
            class: 'success',
            message: 'Das Modul wurde erfolgreich gelöscht.'
        },
        delete_error: {
            class: 'danger',
            message: 'Beim Löschen ist ein Fehler aufgetreten, bitte versuche es später erneut.'
        }
    }
%}

{% block content %}
    {% if message %}
        <div class="alert alert-{{ messages[message].class }} alert-dismissible fade show" role="alert">
            {{ messages[message].message|raw }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <form method="post" id="page-form">
        <div class="text-right mb-4">
            <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#confirmDelete">Modul löschen</button>
        </div>

        {# confirm delete modal #}
        <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteLabel">Modul löschen</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Möchtest du dieses Modul wirklich unwiderruflich löschen?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                        <button type="submit" name="delete" class="btn btn-danger">Ja, Modul löschen</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {{ module_content|raw }}
{% endblock %}
