{% extends 'admin/content.twig' %}

{% block title %}{{ 'Modul nicht gefunden'|trans }}{% endblock %}

{% block content %}
    <p>{{ 'Das gewünschte gewünschte Modul wurde nicht gefunden, bitte wähle ein Modul aus der Liste aus:'|trans }}</p>
    <ul>
        {% for module in modules %}
            <li>
                <a href="{{ admin_url }}/module/{{ module.getModuleId() }}">
                    {{ module.getName() }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}