{% import "admin/forms.twig" as forms %}

{%
    set messages = {
        invalid_input: {
            class: 'danger',
            message: 'Es sind Fehler aufgetreten, bitte prüfe deine Eingaben.'|trans
        },
        save_error: {
            class: 'danger',
            message: 'Beim Speichern ist ein Fehler aufgetreten, bitte prüfe deine Eingaben oder versuche es später erneut.'|trans
        },
        save_success: {
            class: 'success',
            message: 'Die Konfiguration wurde erfolgreich gespeichert.'|trans
        }
    }
%}

{% if message %}
    <div class="alert alert-{{ messages[message].class }} alert-dismissible fade show" role="alert">
        {{ messages[message].message|raw }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

<form method="post" id="page-form">
    {{ forms.form_group('text', 'name', module.name, 'Name'|trans, '', 'name' in errors ? 'is-invalid' : '') }}
    {{ forms.form_group('json', 'config', module.config, 'Konfiguration'|trans, '', 'config' in errors ? 'is-invalid' : '') }}
    <div class="text-end mb-4">
        <button class="btn btn-primary" name="save">{{ 'Speichern'|trans }}</button>
    </div>
</form>

{% include 'admin/module/manage/ace.twig' %}