{% import "admin/forms.twig" as forms %}

{%
    set messages = {
        invalid_input: {
            class: 'danger',
            message: 'Es sind Fehler aufgetreten, bitte prüfe deine Eingaben.'|trans
        },
        save_error: {
            class: 'danger',
            message: 'Beim Speichern ist ein Fehler aufgetreten, bitte prüfe deine Eingaben oder versuche es später erneut.'|trans
        },
        save_success: {
            class: 'success',
            message: 'Die Konfiguration wurde erfolgreich gespeichert.'|trans
        }
    }
%}

{% if message %}
    <div class="alert alert-{{ messages[message].class }} alert-dismissible fade show" role="alert">
        {{ messages[message].message|raw }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

<form method="post" id="page-form">
    {{ forms.form_group('text', 'name', module.name, 'Name'|trans, '', 'name' in errors ? 'is-invalid' : '') }}
    {{ forms.form_group('json', 'config', module.config, 'Konfiguration'|trans, '', 'config' in errors ? 'is-invalid' : '') }}
    <div class="text-end mb-4">
        <button class="btn btn-primary" name="save">{{ 'Speichern'|trans }}</button>
    </div>
</form>

<script src="{{ base_url() }}/editor/ace/src-min-noconflict/ace.js"></script>
<script>
    var editor = ace.edit("json-editor");
    editor.session.setMode("ace/mode/json");
    editor.session.on('change', function () {
        $('#input_config').val(editor.getValue());
    });
</script>

<h2 class="h3">{{ 'Einträge'|trans }}</h2>
<form method="post">
    <table class="table table-hover border">
        <thead>
        <tr>
            <th>{{ 'Erstellt am'|trans }}</th>
            <th>{{ 'Inhalt'|trans }}</th>
            <th>{{ 'Aktionen'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td class="align-middle">
                    {{ entry.getCreatedAt()|date('d.m.Y H:i:s') }}
                </td>
                <td class="align-middle">
                    {% for key, val in entry.getInput()|json_decode %}
                        <i>{{ key }}:</i> {{ val }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td class="align-middle">
                    <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteEntry" onclick="$('#deleteEntryButton').val({{ entry.getGuestbookEntryId() }});"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# confirm delete modal #}
    <div class="modal fade" id="confirmDeleteEntry" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteEntryLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteEntryLabel">{{ 'Eintrag löschen'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ 'Möchtest du den Eintrag wirklich unwiderruflich löschen?'|trans }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Abbrechen'|trans }}</button>
                    <button type="submit" id="deleteEntryButton" name="delete_entry" value="" class="btn btn-danger">{{ 'Ja, Eintrag löschen'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
</form>