{% import "admin/forms.twig" as forms %}

{% extends 'admin/content.twig' %}

{% block title %}Passwort ändern{% endblock %}

{%
    set messages = {
        invalid_input: {
            class: 'danger',
            message: 'Es sind Fehler aufgetreten, bitte prüfe deine Eingaben.'
        },
        save_error: {
            class: 'danger',
            message: 'Beim Speichern ist ein Fehler aufgetreten, bitte prüfe deine Eingaben oder versuche es später erneut.'
        },
        save_success: {
            class: 'success',
            message: 'Dein Passwort wurde erfolgreich geändert.'
        }
    }
%}

{% block content %}
    {% if message %}
        <div class="alert alert-{{ messages[message].class }} alert-dismissible fade show" role="alert">
            {{ messages[message].message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <form method="post" id="page-form">
        {{ forms.form_group('password', 'password', '', 'Aktuelles Passwort', '', 'password' in errors ? 'is-invalid' : '') }}
        {{ forms.form_group('password', 'password_new', '', 'Neues Passwort', '', 'password_new' in errors ? 'is-invalid' : '', 'min. 6 Zeichen') }}
        {{ forms.form_group('password', 'password_confirm', '', 'Passwort bestätigen', '', 'password_confirm' in errors ? 'is-invalid' : '', 'Bitte wiederhole dein Passwort um Tippfehler zu vermeiden') }}
        <div class="text-right mb-4">
            <button class="btn btn-primary" name="save">Speichern</button>
        </div>
    </form>
{% endblock %}