{% import "admin/forms.twig" as forms %}

{% extends 'admin/content.twig' %}

{% block title %}Konfiguration{% endblock %}

{% set pageSelect = [] %}
{% for page in pages %}
    {% set selected = false %}
    {% if page.getPageId() == config.default_page %}
        {% set selected = true %}
    {% endif %}
    {% set pageSelect = pageSelect|merge([{value: page.getPageId(), label: page.name, selected: selected}]) %}
{% endfor %}

{%
    set messages = {
        invalid_input: {
            class: 'danger',
            message: 'Es sind Fehler aufgetreten, bitte pr체fe deine Eingaben.'
        },
        save_error: {
            class: 'danger',
            message: 'Beim Speichern ist ein Fehler aufgetreten, bitte pr체fe deine Eingaben oder versuche es sp채ter erneut.'
        },
        save_success: {
            class: 'success',
            message: 'Die Konfiguration wurde erfolgreich gespeichert.<br>' ~
                'Benutze folgenden Link, falls du den Admin-Pfad ge채ndert hast: ' ~
                '<a href="' ~ base_url() ~ config.admin_route ~ '/misc/config">' ~ base_url() ~ config.admin_route ~ '/misc/config</a>'
        }
    }
%}

{% block content %}
    {% if message %}
        <div class="alert alert-{{ messages[message].class }} alert-dismissible fade show" role="alert">
            {{ messages[message].message|raw }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <form method="post" id="page-form">
        {{ forms.form_group('checkbox', 'maintenance_mode', config.maintenance_mode, 'Wartungsmodus', '', 'maintenance_mode' in errors ? 'is-invalid' : '', 'Im Wartungsmodus wird eine statische Seite angezeigt.') }}
        {{ forms.form_group('select', 'default_page', config.default_page, 'Startseite', '', 'default_page' in errors ? 'is-invalid' : '', 'Startseite deiner Webseite', pageSelect) }}
        {{ forms.form_group('text', 'admin_route', config.admin_route, 'Admin-Pfad', '', 'admin_route' in errors ? 'is-invalid' : '', 'Pfad des Adminbereichs') }}
        {{ forms.form_group('number', 'max_failed_logins', config.max_failed_logins, 'Login Fehlversuche', '', 'max_failed_logins' in errors ? 'is-invalid' : '', 'Maximale Anzahl Fehlversuche bevor ein Benutzer gesperrt wird') }}
        <div class="text-right mb-4">
            <button class="btn btn-primary" name="save">Speichern</button>
        </div>
    </form>
{% endblock %}