{% import "admin/forms.twig" as forms %}

{% extends 'admin/content.twig' %}

{% block title %}Konfiguration{% endblock %}

{% set languageSelect = [] %}
{% for language in languages %}
    {% set selected = false %}
    {% if language.getLanguageId() == config.page_default_language %}
        {% set selected = true %}
    {% endif %}
    {% set languageSelect = languageSelect|merge({ (language.locale): {label: language.description, selected: selected}}) %}
{% endfor %}

{% set pageSelect = [] %}
{% for page in pages %}
    {% set selected = false %}
    {% if page.getPageId() == config.default_page %}
        {% set selected = true %}
    {% endif %}
    {% set pageSelect = pageSelect|merge({ (page.getPageId()): {label: page.name, selected: selected}}) %}
{% endfor %}

{%
    set messages = {
        invalid_input: {
            class: 'danger',
            message: 'Es sind Fehler aufgetreten, bitte prüfe deine Eingaben.'
        },
        save_error: {
            class: 'danger',
            message: 'Beim Speichern ist ein Fehler aufgetreten, bitte prüfe deine Eingaben oder versuche es später erneut.'
        },
        save_success: {
            class: 'success',
            message: 'Die Konfiguration wurde erfolgreich gespeichert.'
        }
    }
%}

{% block content %}
    {% if message %}
        <div class="alert alert-{{ messages[message].class }} alert-dismissible fade show" role="alert">
            {{ messages[message].message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <form method="post" id="page-form">
        {{ forms.form_group('checkbox', 'maintenance_mode', config.maintenance_mode, 'Wartungsmodus', '', 'maintenance_mode' in errors ? 'is-invalid' : '', 'Im Wartungsmodus wird eine statische Seite angezeigt.') }}
        {{ forms.form_group('text', 'page_meta_keywords', config.page_meta_keywords, 'Standard-Suchbegriffe', '', 'page_meta_keywords' in errors ? 'is-invalid' : '', 'Wird bei der Seitenerstellung verwendet') }}
        {{ forms.form_group('text', 'page_meta_description', config.page_meta_description, 'Standard-Beschreibung', '', 'page_meta_description' in errors ? 'is-invalid' : '', 'Wird bei der Seitenerstellung verwendet') }}
        {{ forms.form_group('text', 'page_meta_author', config.page_meta_author, 'Standard-Autor', '', 'page_meta_author' in errors ? 'is-invalid' : '', 'Wird bei der Seitenerstellung verwendet') }}
        {{ forms.form_group('text', 'page_meta_copyright', config.page_meta_copyright, 'Standard-Copyright', '', 'page_meta_copyright' in errors ? 'is-invalid' : '', 'Wird bei der Seitenerstellung verwendet') }}
        {{ forms.form_group('select', 'page_default_language', config.page_default_language, 'Standard-Sprache', '', 'page_default_language' in errors ? 'is-invalid' : '', 'Wird bei der Seitenerstellung verwendet', languageSelect) }}
        {{ forms.form_group('select', 'default_page', config.default_page, 'Startseite', '', 'default_page' in errors ? 'is-invalid' : '', 'Startseite deiner Webseite', pageSelect) }}
        <div class="text-right mb-4">
            <button class="btn btn-primary" name="save">Speichern</button>
        </div>
    </form>
{% endblock %}