{% import "admin/forms.twig" as forms %}

{% extends 'admin/content.twig' %}

{% block title %}{{ 'System'|trans }}{% endblock %}

{% set pageSelect = [] %}
{% for page in pages %}
    {% set selected = false %}
    {% if page.getPageId() == config.default_page %}
        {% set selected = true %}
    {% endif %}
    {% set pageSelect = pageSelect|merge([{value: page.getPageId(), label: page.name, selected: selected}]) %}
{% endfor %}

{%
    set messages = {
        invalid_input: {
            class: 'danger',
            message: 'Es sind Fehler aufgetreten, bitte pr체fe deine Eingaben.'|trans
        },
        save_error: {
            class: 'danger',
            message: 'Beim Speichern ist ein Fehler aufgetreten, bitte pr체fe deine Eingaben oder versuche es sp채ter erneut.'|trans
        },
        save_success: {
            class: 'success',
            message: 'Die Konfiguration wurde erfolgreich gespeichert.'|trans
        }
    }
%}

{% block content %}
    {% if message %}
        <div class="alert alert-{{ messages[message].class }} alert-dismissible fade show" role="alert">
            {{ messages[message].message|raw }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="config-tab" data-toggle="tab" href="#tab-config" role="tab" aria-controls="tab-config" aria-selected="true">{{ 'Konfiguration'|trans }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="sysinfo-tab" data-toggle="tab" href="#tab-sysinfo" role="tab" aria-controls="tab-sysinfo" aria-selected="true">{{ 'Systeminformation'|trans }}</a>
        </li>
    </ul>
    <div class="tab-content mt-4" id="myTabContent">
        <div class="tab-pane fade show active" id="tab-config" role="tabpanel" aria-labelledby="config-tab">
            <form method="post" id="page-form">
                {{ forms.form_group('checkbox', 'maintenance_mode', config.maintenance_mode, 'Wartungsmodus'|trans, '', 'maintenance_mode' in errors ? 'is-invalid' : '', 'Im Wartungsmodus wird eine statische Seite angezeigt.'|trans) }}
                {{ forms.form_group('checkbox', 'enable_tracking', config.enable_tracking, 'Statistiken'|trans, '', 'enable_tracking' in errors ? 'is-invalid' : '', 'Seitenbesuche werden aufgezeichnet und in Statistiken auf dem Dashboard zusammengefasst'|trans) }}
                {{ forms.form_group('select', 'default_page', config.default_page, 'Startseite'|trans, '', 'default_page' in errors ? 'is-invalid' : '', 'Startseite deiner Webseite'|trans, pageSelect) }}
                {{ forms.form_group('text', 'admin_route', config.admin_route, 'Admin-Pfad'|trans, '', 'admin_route' in errors ? 'is-invalid' : '', 'Pfad des Adminbereichs'|trans) }}
                {{ forms.form_group('number', 'max_failed_logins', config.max_failed_logins, 'Login Fehlversuche'|trans, '', 'max_failed_logins' in errors ? 'is-invalid' : '', 'Maximale Anzahl Fehlversuche bevor ein Benutzer gesperrt wird'|trans) }}
                <div class="text-right mb-4">
                    <button class="btn btn-primary" name="save">{{ 'Speichern'|trans }}</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="tab-sysinfo" role="tabpanel" aria-labelledby="sysinfo-tab">
            {% if sysinfo.update %}
                <div class="alert alert-info mx-0 row" role="alert">
                    <div class="col-8 align-middle p-0 pt-1">
                        {{ 'CMS-Update verf체gbar:'|trans }} {{ sysinfo.update.current }} -> {{ sysinfo.update.latest }}
                    </div>
                    <div class="col-4 text-right p-0">
                        <a target="_blank" href="https://github.com/dominicgisler/gislercms/releases/download/{{ sysinfo.update.latest }}/gislercms_{{ sysinfo.update.latest }}.zip" class="btn btn-primary btn-sm"><i class="fa fa-download mr-1"></i> {{ 'Download'|trans }}</a>
                    </div>
                </div>
            {% endif %}
            <div class="table-responsive">
                <table class="table table-striped">
                    {% for key, val in sysinfo.data %}
                        <tr>
                            <th>{{ key|trans }}</th>
                            <td>{{ val|raw }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}