{% import "admin/forms.twig" as forms %}

{% extends 'admin/content.twig' %}

{% block title %}Standardwerte{% endblock %}

{% set languageSelect = [] %}
{% for language in languages %}
    {% set selected = false %}
    {% if language.getLanguageId() == config.default_language %}
        {% set selected = true %}
    {% endif %}
    {% set languageSelect = languageSelect|merge([{value: language.locale, label: language.description, selected: selected}]) %}
{% endfor %}

{%
    set messages = {
        invalid_input: {
            class: 'danger',
            message: 'Es sind Fehler aufgetreten, bitte prüfe deine Eingaben.'
        },
        save_error: {
            class: 'danger',
            message: 'Beim Speichern ist ein Fehler aufgetreten, bitte prüfe deine Eingaben oder versuche es später erneut.'
        },
        save_success: {
            class: 'success',
            message: 'Die Standartwerte wurden erfolgreich gespeichert.'
        }
    }
%}

{% block content %}
    {% if message %}
        <div class="alert alert-{{ messages[message].class }} alert-dismissible fade show" role="alert">
            {{ messages[message].message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <form method="post" id="page-form">
        {{ forms.form_group('text', 'meta_keywords', config.meta_keywords, 'Suchbegriffe', '', 'meta_keywords' in errors ? 'is-invalid' : '') }}
        {{ forms.form_group('text', 'meta_description', config.meta_description, 'Beschreibung', '', 'meta_description' in errors ? 'is-invalid' : '') }}
        {{ forms.form_group('text', 'meta_author', config.meta_author, 'Autor', '', 'meta_author' in errors ? 'is-invalid' : '') }}
        {{ forms.form_group('text', 'meta_copyright', config.meta_copyright, 'Copyright', '', 'meta_copyright' in errors ? 'is-invalid' : '') }}
        {{ forms.form_group('select', 'default_language', config.default_language, 'Standardsprache', '', 'default_language' in errors ? 'is-invalid' : '', '', languageSelect) }}
        <div class="text-right mb-4">
            <button class="btn btn-primary" name="save">Speichern</button>
        </div>
    </form>
{% endblock %}