{% extends 'admin/content.twig' %}

{% block title %}{{ 'Seiten-Papierkorb'|trans }}{% endblock %}

{% block content %}
    <form method="post">
        <table class="table table-bordered {% if trashPages|length > 0 %}table-hover{% endif %}">
            <thead>
                <tr>
                    <th scope="col" style="width: 50px;"></th>
                    <th scope="col">{{ 'Name'|trans }}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for page in trashPages %}
                    <tr onclick="toggleRow.apply(this, arguments);">
                        <th scope="row" class="text-center" style="width: 50px;">
                            <input type="checkbox" class="select-page" name="page[{{ page.getPageId() }}]">
                        </th>
                        <td>{{ page.getName() }}</td>
                        <td class="text-center" style="width: 50px;">
                            <a href="{{ admin_url }}/page/{{ page.getPageId() }}">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td></td>
                        <td colspan="2">
                            {{ 'Der Papierkorb ist leer'|trans }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmRestore">{{ 'Wiederherstellen'|trans }}</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete">{{ 'Löschen'|trans }}</button>
        </div>
        <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteLabel">{{ 'Seiten löschen'|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ 'Möchtest du die ausgewählten Seiten wirklich unwiderruflich löschen?'|trans }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Abbrechen'|trans }}</button>
                        <button type="submit" name="delete" class="btn btn-danger">{{ 'Seiten löschen'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmRestore" tabindex="-1" role="dialog" aria-labelledby="confirmRestoreLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmRestoreLabel">{{ 'Seiten wiederherstellen'|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ 'Möchtest du die ausgewählten Seiten wirklich wiederherstellen?'|trans }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Abbrechen'|trans }}</button>
                        <button type="submit" name="restore" class="btn btn-primary">{{ 'Seiten wiederherstellen'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        function toggleRow(e) {
            if (!e.target.classList.contains('select-page')) {
                var elems = this.getElementsByClassName('select-page');
                if (elems.length === 1) {
                    elems[0].checked = !elems[0].checked;
                }
            }
        }
    </script>
{% endblock %}